.section {
        height: 100vh;
        overflow-y: scroll;
        scroll-snap-type: y proximity;
}

.section .elements {
        scroll-snap-align: start;
}

@tailwind base;
@tailwind components;
@tailwind utilities;